.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.swiper {
  margin: 0;

  background-position: center;
  background-size: cover;
  background: no-repeat;

  width: 400px;
  height: 450px;
  padding: 30px;
}

.swiperSlide {
  /* background-position: center;
  background-size: cover;
  background: no-repeat; */
  height: 450px;
}

.swiperSlide img {
  display: block;
  width: 100%;
  height: 100%;
}

.descriptionBox {
  position: relative;
  z-index: 11;
  left: 60px;

  max-width: 400px;
  padding: 0;

  background-color: rgba(187, 241, 210, 0.329);
}
