.map-container {
  margin: 5px 10px 5px 10px;
}

.map-container__map {
  width: 50%;
  height: 20rem;
}

@media screen and (max-width: 500px) {
  .map-container__map {
    width: 100%;
  }
  .map-p-style {
    margin: 20px 0;

    font-size: 17px;
    color: #283027;
  }
}
