.container {
  padding: 0;
}

.boxOne {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.description__twoRoom {
  position: relative;
  z-index: 5;
  left: 70px;

  max-width: 580px;

  background-color: #0080006e;
}

.cardIcons {
  width: 35px;
  height: 35px;
}

p {
  margin: 0 20px 0 20px;
}
